
<div class = "hero">
	<br />
	<div class = "frosty  col-xs-10 col-xs-offset-1 text-center">
		<h1>Learn How to play an instrument from the pros! </h1>
		<br />
		<h3> Some of the best instructional videos on how to play an instrument!</h3>
		<br />
		<%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
	</div>
</div>

<br />

<div class = "features col-xs-10 col-xs-offset-1 text-center">
	<div class = "col-sm-4">
		<%= image_tag 'play.png' %>
		<h3> Step by step video instructions on how to play an instrument. Guided tutorials will allow you to progress at a fast pace! </h3>
	</div>
	<div class = "col-sm-4">
		<%= image_tag 'music.png' %>
		<h3> Learn how to play specific songs! </h3>
	</div>
	<div class = "col-sm-4">
		<%= image_tag 'idea.png' %>
		<h3> Keep Lessons forever so you can go back if you need a refresher! </h3>
	</div>
</div>

