
<div class = "booyah box col-xs-10 col-xs-offset-1">
	<% @courses.each do |course| %>
		<h1 class = "text-center"><%= course.title %></h1>
		<br />
		<div class = "col-sm-8 col-xs-12">
			<%= course.description %>
		</div>
		<div class = "col-sm-4 col-xs-12">
			<%= link_to 'Button', course_path(course), :class => 'btn btn-primary btn-large' %>
		</div>
		<br class = "clr" />
	<% end %>

</div>